name: Generate Maps

on:
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner to use for the job"
        required: false
        type: string
        default: "macos-latest-large"

jobs:
  generate-maps:
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: maven

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip

      - name : Install python dependencies
        run: pip install -r requirements.txt

      - name: Install Maven dependencies
        run: mvn install -f pom.xml

      - name: Package Maven project
        run: mvn package -f pom.xml

      - name: Download latest cache
        run: python scripts/cache.py

      - name: Generate maps
        run: java -jar ./osrs-wiki-maps/target/osrs-wiki-maps-*-SNAPSHOT-shaded.jar

      - name: Stitch maps
        run: python scripts/stitch.py

      - name: Archive output
        run: zip -r out.zip ./out

      - name: Upload output
        uses: actions/upload-artifact@v4
        with:
          name: out-${{ github.run_id }}-${{ github.run_attempt }}
          path: out.zip